body{
	position:absolute;
	width: 1500px;
	hight: 1000px;
}
.team{
    background-color: #199dd1;
    color: white;
    border-style:solid;
    border-color:#199dd1 ;
    text-align: center;
    font-family: "Aller Display", Sans-Serifserif;
    font-size: 18px;
    letter-spacing: 0.01rem;
	position:relative;
	
}
.container{
    text-align: center;
    font-size:24px;
    font-family:"helvetica";
    
}
.image1{
    position:relative;
	left: 300px;

	top:20px;
	
	
}

.buttonsss{
	margin-right: 40px;
	border-style: solid;
	border-radius:15px;
	border-color:#3aa7db;
	position:absolute;
	left:80px;
    top:270px;
	
}
.progarming{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
	border-top-width: 10px 20px;
	

}
.graphic{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
}
.business{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
}
.music{
    color:white;
    background-color: #3aa7db;
   border-style:solid;
	border-radius: 10px;
}
.gamedev{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
 
}
.sdevelop{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
}
.moto{
    color:white;
    background-color: #4f60bb;
    border-style:solid;
    border-color:#4f60bb;
    border-top-width: 2px;
    border-bottom-width:2px;
	position: relative;
	text-align: center;
	
	
}

.connectsyou{
    float: left;
	
	position: absolute;
	left: 120px;
	top:600px;
	background-color: white;
	border-style: solid;
	border-color:white;
	border-radius: 10px;
}

.objects2{

	position: absolute;
	left: 140px;
	top:560px;
	
}


  .footerr {

  height: 100px;
  background:#4c5db3;
  margin-top: 350px;
	  positiom:relative;

}
.chooseteam{
	margin-top: 150px;
	position: absolute;
	top: 90px;
	
	text-align: center;
	left:940px;
	
	
	
	
}
.large{
	font-size: 29px;
	border-style:solid;
	padding:10px;
	border-radius: 5px;
		position: absolute;
	top: 50px;
}
.medium{
	font-size: 25px;
	border-style:solid;
	padding:7px;
	border-radius: 5px;
	position: absolute;
	top:120px;
	
	
}
.small{
	font-size: 26px;
		border-style:solid;
	border-radius: 5px;
		position: absolute;
        top: 180px;	
	left:15px;

}
.rocket{
	position:absolute;
	top: 570px;
	left: 620px;
}
