
.team{
    background-color: #199dd1;
    color: white;
    border-style:solid;
    border-color:#199dd1 ;
    text-align: center;
    font-family: "Aller Display", Sans-Serifserif;
    font-size: 18px;
    letter-spacing: 0.01rem;
	
}
.container{
    text-align: center;
    font-size:24px;
    font-family:"helvetica";
    
}
.image1{
    position:absolute;
	left:300px;
	border-style:solid;
	border-color:black;
	bottom:10px;
	
	
}

.buttonsss{
	margin-right: 40px;
	border-style: solid;
	border-radius:15px;
	border-color:#3aa7db;
	position:absolute;
	left:50px;
    top:190px;
	
}
.progarming{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
	border-top-width: 10px 20px;
	

}
.graphic{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
}
.business{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
}
.music{
    color:white;
    background-color: #3aa7db;
   border-style:solid;
	border-radius: 10px;
}
.gamedev{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
 
}
.sdevelop{
    color:white;
    background-color: #3aa7db;
    border-style:solid;
	border-radius: 10px;
}
.moto{
    color:white;
    background-color: #4f60bb;
    border-style:solid;
    border-color:#4f60bb;
    border-top-width: 2px;
    border-bottom-width:2px;
	width:1180px;
	position: absolute;
	top:105px;
	
	
}

.connectsyou{
    float: left;
	
	position: absolute;
	left: 150px;
	bottom:-100px;
}

.objects2{

	position: absolute;
	left: 30px;
	bottom:-100px;
	
}


  .footerr {
  width: 1190px;
  height: 100px;
  background:#4c5db3;
  margin-top: 500px;

}
.chooseteam{
	margin-top: 150px;
	position: absolute;
	top: 30px;
	
	text-align: center;
	left:740px;
	
	
}
.large{
	font-size: 29px;
	border-style:solid;
	padding:10px;
	border-radius: 5px;
		position: absolute;
	top: 50px;
}
.medium{
	font-size: 25px;
	border-style:solid;
	padding:7px;
	border-radius: 5px;
	position: absolute;
	top:120px;
	
	
}
.small{
	font-size: 26px;
		border-style:solid;
	border-radius: 5px;
		position: absolute;
        top: 180px;	
	left:15px;

}
.rocket{
	position:absolute;
	top: 470px;
	left: 420px;
}
